.advanced-link-pager.pagination {
    float: left;
    width: 100%;
}

.advanced-link-pager:after {
    content: "";
    clear: both;
}

.advanced-link-pager > *:first-child {
    float: left;
}

.advanced-link-pager > *:nth-child(2) {
    float: right;
}

.advanced-link-pager .input-group-addon {
    width: auto;
}

